* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     margin-bottom:20px;
}

html {
   font-size: 62.5%;
}

body {
   background: #2B292E;
   color: #fafafa;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 1.6rem;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   transition: all 0.5s;
}

.fail {
   background-color: red;
}

.success {
   background-color: green
}

.warn {
   background-color: orange
}

@keyframes fadeout {
   from {opacity:1}
   to {opacity:0}
}

.wrapper {
   text-align: center
}

.letter {
   border-bottom: 1px solid #2B292E;
   display: inline-block;
   font-size: 2.5rem;
   height: 2.4rem;
   line-height: 2.4rem;
   margin: 0 .1rem;
   text-align: center;
   text-transform: uppercase;
   width: 2.4rem;
   color: #2B292E
}

.guess {
   padding:0.3em 0.5em;
   background-color: #cccccc;
   border: 1px solid black;
   color: #2B292E;
   font-size: 1.3em;
}

p {
   font-weight: 300;
}

.puzzle {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 4em 3em;
   background-color: #cccccc;
   border: 1px solid black;
   text-align: center
}

 .button {
     background: #7044a0;
     border: none;
     border-bottom: 2px solid #603a88;
     cursor: pointer;
     color: white;
     font-size: 1.4rem;
     font-weight: 300;
     padding: .8rem;
     transition: background .3s ease, color .3s ease;
}

.button:hover {
   background: #5F3A87;
}

.meta {
   margin-top: 20px;
   font-weight: 100;
   font-size:70%;
}